/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/


/* mobile menu when open */

.responsive-menu-open {
    overflow: hidden;
    height: 100vh;
}
ul.social-icons li a:hover i {
    color: #164e95 !important;
}
ul.social-icons li a i {
    font-size: 30px;
	color: #164e95 !important;
}
.footerSocial-icons .fl-html{
	    display: flex;
		align-items: center;
		justify-content: center;
}
.footerSocial-icons ul.social-icons{
	margin-right: 20px !important;
    margin-top: 10px !important;
}
.responsive-menu-open body .fl-page:before {
    content: '';
    height: 100vh;
    width: 100vw;
    background: #00000061;
    z-index: 9;
    display: inline-block;
    position: fixed;
}

.fl-page {
    width: auto;
    overflow: hidden;
}

.container.fl-content-full {
    margin: 0;
    padding: 0;
    width: auto;
    max-width: none;
}

.njba-tabs-panel-content {
    padding: 0;
}

.tabReverce .njba-tab-section-main {
    display: flex;
    flex-direction: column-reverse;
}

.tabCenter .njba-tabs-nav {
    display: flex;
    justify-content: center
}

.njba-tabs-label.njba-tab-active>.njba-tab-label-inner {
    border-color: #A00A20 !important;
}

.fl-page-bar-container {
    padding: 15px 0;
}

#menu-top-bar-menu .nav-link {
    font-size: 12px;
    font-weight: 500;
    padding: 2px 40px;
    font-family: 'Montserrat', sans-serif;
}


/* .fl-page-header-logo .fl-logo-img {
    height: 90px !important;
} */

.store-opening-hrs-container .store-opening-hrs li {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #003E53;
    justify-content: space-between;
}

.store-opening-hrs-container .store-opening-hrs li:nth-child(2n) {
    background: #003e53;
    color: #fff;
}

.fl-page-nav .navbar-nav>li>a.nav-link {
    padding: 22px 15px;
    margin-top: 8px;
}

.fl-page-nav {
    padding: 20px;
}

.gform_wrapper #gform_4 ul li #input_4_9 {
    margin-top: 0px !important;
}

.gform_wrapper #gform_4 ul li input {
    width: 100%;
}

.gform_wrapper ul.gform_fields li.gfield {
    padding-right: 16px !important;
}

.fl-page-header .fl-page-header-container {
    padding: 0px 15px;
}

.homeSlider .bx-pager.bx-default-pager {
    bottom: 30px;
}

.homeSlider .bx-wrapper .bx-pager.bx-default-pager a {
    background: #fff;
}

.homeSlider .bx-wrapper .bx-pager.bx-default-pager a.active {
    background: transparent;
    border: 1px solid #fff;
}


/* product row */

.product-row h4,
.product-row h5 {
    font-weight: 300;
    text-transform: uppercase;
}

.product-row h3 {
    text-transform: uppercase;
}

.button-wrapper-default a.text-right {
    text-align: center !important;
}

.button-wrapper-default a:hover {
    background: #003e53;
    border-color: #003e53;
}

@media (max-width: 767px) {
    .product-row.featured h3,
    .product-row.featured h4,
    .product-row.featured h5 {
        text-align: center !important;
    }
    .product-row.featured h4 {
        margin-bottom: 20px !important;
    }
}


/*Project Gallery */

.project-gallery .fl-photo-caption-below {
    text-align: left !important;
}


/* Image Galleries */

.fl-post-grid-gallery {
    width: 300px;
    height: 300px;
}

.gallery-menu ul li a:hover {
    text-decoration: none;
}


/* Reviews */

.reviews h4 {
    margin-bottom: 0;
    padding-bottom: 0;
}

.reviews img {
    margin: 0;
    padding: 0 0 5px 0;
}


/* Product Grid */

.swatch-thumb {
    max-height: 238px;
    overflow: hidden;
}

.swatch-thumb img {
    width: 100%;
    height: auto;
}

.product-grid.swatch {
    text-align: center;
}

.product-grid.rooms {
    text-align: left;
}

.product-grid.featured {
    text-align: center;
}

.product-grid.swatch h2 {
    font-weight: 700;
    margin: 0 0 10px 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 16px;
}

.product-grid.swatch h4 {
    font-size: 10px;
    margin: 5px 0 0 0;
    padding: 0;
    text-transform: uppercase;
    color: #929292;
}

.product-grid.rooms h2 {
    font-weight: 700;
    margin: 10px 0 0 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 16px;
}

.product-grid.rooms h4 {
    font-size: 10px;
    margin: 5px 0 5px 0;
    padding: 0;
    text-transform: uppercase;
    color: #929292;
}

.strike-price {
    color: #929292;
    text-decoration: line-through !important;
    margin-right: 10px;
}

.sale-price {
    font-weight: 700;
    color: #212121;
}

.product-grid.featured h2 {
    font-weight: 700;
    margin: 0 0 15px 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 16px;
}

.product-grid.featured h4 {
    font-size: 10px;
    margin: 10px 0 0 0;
    padding: 0;
    text-transform: uppercase;
    color: #929292;
}

.product-grid .fl-button {
    margin-bottom: 10px;
}

.product-grid .fl-button-text {
    font-size: 12px;
}

.product-grid a {
    text-decoration: none;
    font-size: 13px;
}

.product-grid a.link {
    color: #929292;
}

.product-grid a.link:hover {
    text-decoration: underline;
    color: #929292;
}

.product-grid a.greylink {
    color: #908c7b;
}

.product-grid a.greylink:hover {
    text-decoration: underline;
    color: #908c7b;
}

.njba-tabs-style-7 .njba-tab-menu-main .njba-tab-label-inner {
    border-bottom: 4px solid transparent;
}

.fl-page-fixed-nav-search-wrap {
    margin-top: 5px;
}


/* .fl-page-nav-toggle-visible-mobile[style="display: block;"] ~ header .fl-page-nav-search form {
    position: fixed;
    top: 90px;
} */

.fl-page-fixed-nav-search-wrap form {
    position: absolute;
    right: 0;
    max-width: 300px;
    top: 80px;
    padding: 20px;
    background: #fff;
    border-top: 3px solid #809fa9;
    width: 100%;
    display: none;
}

@media (max-width: 767px) {
    .product-grid.swatch .row>:nth-child(2n+1) {
        clear: left;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .product-grid.swatch .row>:nth-child(3n+1) {
        clear: left;
    }
}

@media (min-width: 992px) {
    .product-grid.swatch .row>:nth-child(4n+1) {
        clear: left;
    }
}

@media (min-width: 992px) {
    .product-grid.rooms .row>:nth-child(4n+4) {
        clear: left !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .product-grid.rooms .row>:nth-child(2n+1) {
        clear: left;
    }
}

.product-grid .swatch-thumb img {
    width: 100%;
    height: auto;
}

.product-grid .fl-post-grid-post {
    margin-bottom: 40px;
}

.slick-track {
    margin: 0 auto;
}

.product-variations img {
    padding: 5px !important;
}


/* Facet CSS */

.facetwp-facet select {
    width: 100%;
    padding: 10px;
}

.facetwp-selections ul li {
    font-size: 16px;
}

.facetwp-per-page select {
    padding: 5px;
}

.bottom-pager .facetwp-pager {
    float: none;
    text-align: center;
}

.facetwp-pager span.pager-text {
    font-size: 14px !important;
    padding-right: 10px;
}

.facetwp-pager span.pager-arrow {
    font-size: 28px;
}

.facetwp-pager a {
    color: #929292;
    vertical-align: middle;
}

.facetwp-pager a:hover {
    text-decoration: none;
}

.facetwp-page {
    display: inline-block;
    padding: 0px 4px;
    margin-right: 6px;
    cursor: pointer;
}

.product-count {
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.9);
}

.faceted_results {
    margin-top: 20px;
}

.facet-wrap {
    display: none;
}

.facet-wrap.is-hidden {
    display: none !important;
}

.facet_filters .facetwp-facet {
    margin-bottom: 25px;
}

.facet_filters strong {
    font-size: 16px;
    color: #630A0A;
    display: block;
    margin: 0 0 10px;
}

.facet-inner {
    max-height: 360px;
    overflow: auto;
}


/* Product Box */

.product-box {
    text-align: left;
}

.product-box a.fl-button {
    font-size: 13px;
    padding: 10px 20px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    width: 180px !important;
    display: block;
    text-align: center;
}

.product-box a.fl-button:hover {
    text-decoration: none;
}

.product-box a.fl-button.btn-white {
    background-color: transparent !important;
    border-color: #554E46 !important;
}

.product-box a.fl-button.view_more {
    background: #a00a20;
    border-color: #a00a20;
}

.product-box a.fl-button.view_more:hover {
    background: transparent;
}

.product-box a.fl-button.view_more:hover .fl-button-text {
    color: #a00a20;
}

.product-box h1 {
    margin: 0 0 0 0;
    padding: 0;
    text-transform: none;
    font-weight: 700;
}

.product-box h2 {
    margin: 0 0 0 0;
    padding: 0;
    font-size: 1.8rem;
}


/* Product Colors */

.product-colors ul {
    margin: 15px 0 0 0;
    padding: 0;
    list-style: none;
}

.product-colors ul li {
    display: inline-block;
    text-align: left;
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 2rem;
    letter-spacing: 2px;
    margin-bottom: 40px;
}

.product-colors ul li.found {
    font-size: 5rem;
    padding-right: 15px;
    font-weight: 300;
}


/* Product Attributes */

.product-atts ul {
    margin: 40px 0 0 0;
    padding: 0;
    color: #008c8c;
}

.product-atts ul li {
    list-style: none;
    display: inline;
    margin: 0;
    padding: 20px 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.product-atts a.fl-button {
    padding: 10px 40px;
}

.product-attributes {
    text-transform: capitalize;
    margin-bottom: 80px;
    margin-top: 60px;
}

.product-attributes table th,
.product-attributes table td {
    padding: 12px !important;
}

.product-attributes table th {
    width: 30%;
}

.product-attributes table td {
    width: 70%;
}


/* Product Swatch */

.product-swatch {
    text-align: center;
}


/* 
.product-swatch .img-responsive {
    background-size: contain !important;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 450px;
} */

.product-swatch .img-responsive img {
    display: none;
    margin: 0 auto;
}


/* Product Variation */

.product-variations {
    margin: 80px 0 50px 0;
    text-align: center;
}

.product-variations>.row {
    display: block;
}

.product-variations img {
    width: 100%;
    height: auto;
    padding: 0px !important;
}

img.product-logo {
    max-width: 140px;
    height: auto;
    margin-bottom: 15px;
}


/* Color Box */

.color-box {
    margin-bottom: 30px;
    line-height: normal;
    min-height: 180px;
}

.color-box small {
    font-size: 80%;
}

.product-brand {
    text-transform: uppercase;
    font-size: 0.85em;
    margin-bottom: 0;
    min-height: 20px;
    letter-spacing: 2px;
}

.product-detail-layout-5 .product-variations {
    margin: 0 0 50px;
    padding: 20px 0;
    position: relative;
    background: #fff9f2;
}

.slick-initialized .slick-slide {
    max-width: none;
}


/* Image Gallery Modal */

.galleryMenu .menu-item:not(.current-page-ancestor) a {
    color: rgba(255, 255, 255, 0.6);
}

.active-gallery-modal .fl-post-title {
    font-family: "PT Sans Narrow";
}

.footerSocial-icons ul.social-icons {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    font-size: 26px;
}

.footerSocial-icons ul.social-icons>li {
    padding: 0 10px;
}

.footerSocial-icons ul.social-icons>li>a {
    color: #767676;
}

.footerWrapper {
    font-family: roboto;
}

.storename,
.footerWrapper .storename {
    padding: 0;
    list-style: none;
}

.footerWrapper .storename p {
    margin: 0 !important;
}

.njba-tabs-panel-content>p {
    display: none;
}

.backgroundImage-color {
    padding: 0 80px 50px;
    background: #fff9f2;
}

.njba-tabs.njba-tab-section-main .tab-align-center .njba-tabs-nav .njba-tabs-label.njba-tab-active .njba-tab-label-inner {
    border-color: rgb(160, 10, 32);
}

.fl-page .btnReverce a.fl-button {
    padding: 20px 35px;
    background: transparent;
    border-color: #ffffff;
}

.fl-page .btnReverce a.fl-button>* {
    color: #ffffff;
}

.fl-page .btnReverce a.fl-button:hover {
    background: #ffffff;
}

.fl-page .btnReverce a.fl-button:hover>* {
    color: #383838;
}

.phoneno>a {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 16px;
    font-weight: 700;
}

.phoneno .storename {
    margin: 0px;
}

.navbar .nav .menu-item-has-children>a:after {
    content: "\f078";
    font-family: FontAwesome !important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    vertical-align: top;
    margin: 2px 0 0 10px;
    font-weight: 400;
}

.navbar .nav .sub-menu .menu-item-has-children>a:after {
    content: "\f054";
    position: absolute;
    right: 15px;
    top: 50%;
    margin: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

button#responsive-menu-button {
    z-index: 999 !important;
}

.gform_wrapper.gf_browser_chrome .gfield_checkbox li input,
.gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox] {
    margin-top: 0px !important;
}

.form-wrap-shopat {
    z-index: 999;
}

#responsive-menu-additional-content a {
    color: #fff;
    font-size: 16px;
}

.timeEstimate .ginput_container_time select {
    width: 100px !important;
}

.facetwp-checkbox {
    font-size: 15px !important;
}

.fullWidhtTab_home .uabb-content>p {
    margin: 0;
}

.fl-page-nav-right .fl-page-nav {
    padding: 10px 20px;
}

.fl-page-nav-right .fl-page-nav-search a.fa-search {
    padding: 0;
}

.search-wrapper {
    padding: 8px 0 0px 20px;
}

.location-top .fl-button {
    width: 100%;
    max-width: 200px;
}

.fl-accordion-button-icon {
    outline: none !important;
}

.getDirectionBtn a.fl-button {
    text-align: center !important;
}

.gform_wrapper .gfield_time_hour i {
    margin-top: 0 !important
}

.fl-page-header .phonebtn a {
    padding: 0px;
}

.ginput_recaptcha>div {
    width: 100% !important;
}

.homeSlider .fl-content-slider .bx-wrapper {
    margin-bottom: 0;
}

.ginput_container_checkbox li {
    display: flex;
    align-items: center;
}

.ginput_container_checkbox li input {
    margin-right: 5px;
    margin-top: 0 !important;
}

.fl-page-nav-right.fl-page-header-fixed .fl-logo-img,
.fl-page-header-fixed .fl-logo-img {
    max-height: unset !important;
}

@media(max-width:1024px) {
    /* .fl-page-bar {
        display: none;
    } */
    .container {
        width: 980px;
        max-width: 100%;
    }
    .style-product_list .pro-container .pro-details .button-wrapper a.button {
        min-width: auto;
    }
    .fl-page-nav {
        padding: 15px 0;
    }
    .fl-page-nav .navbar-nav>li>a.nav-link {
        padding: 18px 8px;
    }
    .fl-page-nav-right .fl-page-nav-search a.fa-search {
        padding-left: 10px;
    }
    .fl-page-nav-right.fl-page-header-fixed .fl-page-nav-wrap .navbar-nav>li>a.nav-link,
    .fl-page-header-fixed .fl-page-nav-wrap .navbar-nav>li>a.nav-link {
        padding: 10px 12px;
    }
}

@media(max-width:991px) {
    button#responsive-menu-button {
        position: absolute !important;
    }
    .style-product_list .pro-container>.row>.col-md-7,
    .style-product_list .pro-container>.row>.col-md-5 {
        max-width: 100%;
    }
    .product-detail-layout-5 .fl-post-content>.row>div {
        max-width: 100%;
        flex: 1 1 100%;
    }
    .product-box .row {
        flex-direction: column;
    }
    .product-box .row>div {
        flex: 1 1 100%;
        max-width: 100%;
    }
    .product-detail-layout-5 .button-wrapper .finance-btn {
        text-align: center !important;
    }
    .product-detail-layout-default .fl-post-content .row {
        flex-direction: column;
    }
    .product-detail-layout-default .fl-post-content .row .product-swatch {
        width: 100%;
        max-width: 100%;
    }
    .product-detail-layout-default .fl-post-content .row .product-box {
        width: 100%;
        max-width: 100%;
    }
    .product-detail-layout-default .fl-post-content .row .product-box .row>* {
        margin: 0 auto;
    }
    .product-detail-layout-default .fl-post-content .row .product-box .responsive-button-wrapper-default>a {
        text-align: center !important;
    }
    .product-detail-layout-default .product-attributes table tr>th {
        text-align: left;
    }
    #responsive-menu-container #responsive-menu-title #responsive-menu-title-image {
        margin-bottom: 0 !important;
    }
    .openSidebar>body {
        height: 100vh;
        overflow: hidden;
    }
    /* .openSidebar > body:after {
        content: '';
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.3);
    } */
    .search-results .product-row .fl-post-grid-image>a span.exlusive-badge,
    .product-row .fl-post-grid-image>a span.exlusive-badge {
        left: 0px !important;
    }
}

@media(min-width:767px) and (max-width:992px) {
    .fl-page-bar-container {
        padding: 15px 20px;
    }
    #menu-footer-menu {
        display: flex;
        justify-content: flex-end;
    }
    .footerCopyright .fl-rich-text>p {
        text-align: left;
        padding: 0 20px;
    }
    .twoColumnFabStyle>.fl-col-content {
        display: flex;
        flex-direction: unset;
    }
    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content {
        padding: 0;
    }
    body .fl-page-bar .fl-page-bar-nav {
        display: flex !important;
        flex-direction: row;
        justify-content: space-between;
    }
    #menu-top-bar-menu .nav-link {
        padding: 2px 5px;
    }
    button#responsive-menu-button {
        top: 68px !important;
    }
}

@media(min-width:567px) and (max-width:992px) {
    .mobTwoCol .fl-col-content {
        display: flex;
        flex-direction: row;
    }
}

@media(max-width:767px) {
    .product-box a.fl-button {
        width: 100% !important;
    }
    .quality-family-best-wrap .uabb-list-icon-wrap {
        width: 60% !important;
        display: block;
        margin: 10px 0px !important;
    }
    .footerWrapper .fl-col-group-custom-width {
        display: flex;
        flex-direction: column;
    }
    .footerWrapper .fl-col-group-custom-width .fl-col {
        margin-left: 0;
        width: 100% !important;
    }
    .fullWidhtTab_home .njba-tabs-label {
        margin: 5px 0 !important;
    }
    .footerCopyright .fl-col-group {
        flex-direction: column;
    }
    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content {
        padding: 0;
    }
    .fl-page-header-primary .fl-logo-img {
        max-width: 235px !important;
    }
    .fl-page-header .fl-page-header-container {
        padding: 10px 15px;
    }
    .fullWidhtTab_home h3.fl-callout-title {
        font-size: 40px;
    }
    body .fl-page-bar .fl-page-bar-nav {
        display: flex !important;
    }
    .fl-page-bar-nav>li {
        padding: 5px 0;
    }
    #menu-top-bar-menu .nav-link {
        padding: 0 !important;
    }
    #responsive-menu-container #responsive-menu-title {
        margin-bottom: 0;
    }
    #responsive-menu-container #responsive-menu-title #responsive-menu-title-image img {
        height: 70px !important;
    }
    #responsive-menu-container #responsive-menu-title {
        padding: 10px 5% !important;
    }
}

@media(max-width:567px) {
    .twoColumnFabStyle .uabb-photo-content,
    .twoColumnFabStyle .uabb-photo-content img {
        width: 100%;
    }
    .fl-page-bar-container {
        padding: 8px 0;
    }
    .product-grid .product-row .fl-post-grid-post .fl-post-grid-image>a {
        display: inline-block;
    }
    .FloorteBtn+.fl-visible-mobile {
        padding: 0 20px;
    }
}